#top-nav {
  background-color: rgb(247, 236, 244);
}
#nav-mobile {
  margin-right: 5%;
}
#top-nav a,
i {
  color: black;
}
/* .nav ul a {
  display: inline;
} */

#top-nav a:hover {
  background-color: rgb(245, 192, 192);
}
#top-nav #logo:hover {
  background-color: unset;
}

#logo {
  font-family: cursive;
  font-weight: lighter;
  margin-left: 5%;
}
